.app {
  margin: 0 auto;

  &__form {
    max-width: 860px;
    margin: 10px auto 0;
  }

  &__fieldset {
    margin-bottom: 10px;
  }

  &__group {
    display: flex;
  }

  &__label {
    flex: 1;
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }
  }

  &__label_text {
    display: block;
    margin-bottom: 5px;
    white-space: nowrap;
  }

  &__input {
    flex: 1;
    width: 100%;
  }

  &__button {
    margin-left: 10px;
  }

  &__gallery {
    margin: 0 auto;
  }
}
